@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Sofia');

body {
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}

.header {
  text-align: center;
}

  .Button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: space-around;
  }

  .Button-section > img {
    width: 30%;
  }

  .Button-section > div {
    font-size: 40px;
  }

  .App-logo > img {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
  }

  .Logo-heading {
    font-size: 20px;
    font-weight: bold;
  }

  .Link-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .Link-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: space-between;
   
  }
  header > img {
    width: 10%;
    height: 100%;
  }

  header > .top {
    position: absolute;
    left: 20px;
  }
  header > .top a.menu_icon i {
    color: #000;
    font-size: 40px;
    padding-top: 5px;
    transition: .2s ease;
  }
  header > .top a.menu_icon:hover i {
    color: #fff;
  }
  nav.menu {
    width: 300px;
    min-height: calc(100vh - 121px);
    background-color: #03a9f4;
    position: absolute;
    left: -300px;
    transition: .3s all;
  }
  nav.menu > a {
      display: block;
      padding: 5px;
      margin: 15px 0 0px 20px;
      color: #494949;
      text-transform: uppercase;
  }

  /* .show {
    width: 250px;
  } */

  .hide {
    width: 0;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .slider {
    height: 100%;
    width: 100%;
    
  }

  .slides {
    width: 100%;
    height: 100%;
    z-index: 2;
    /* -webkit-animation: fadeinout 20s linear infinite forwards;
    animation: fadeinout 20s linear infinite forwards; */
  }

  @-webkit-keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  .slide >  img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  /* //////Sidenav///// */
  .sidenav {
    height: 30%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 36px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .signup-button, .login-button {
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
.signup-button{
  background-color: #3D90E3;
}
.login-button{
  background-color: lightgray;
  color: darkslategray;
}

  .button-footer{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 5%;
    flex-direction: column;
    align-items: center;

  }

  .white-box{
    background-color: white;
    opacity: 0.7;
    width: 70%;
    height: 20%;
    position: absolute;
    margin: 15%;
    top: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }


 
  
  
 

   
  
    